body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-linear-gradient(70deg, #1a535c, #4ecdc4, #ffe66d);
  background: linear-gradient(70deg, #1a535c, #4ecdc4, #ffe66d); 
}

#root{
  background: -webkit-linear-gradient(70deg, #1a535c, #4ecdc4, #ffe66d);
  background: linear-gradient(70deg, #1a535c, #4ecdc4, #ffe66d);  
}

.ui.menu {
  background: -webkit-linear-gradient(61deg, #1a535c -15%, #4ecdc4, #ffe66d);
  background: linear-gradient(61deg, #1a535c -15%, #4ecdc4, #ffe66d);
}

.shortlist {
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
}

.ui.center.aligned.header, .ui.centered.header, .socialMediaText {
  color: #f7fff7;
}

.ui.list .list>.item .header, .ui.list>.item .header {
  color: #f7fff7;
}

/* .item{

} */

.ui.list>.item {
  transition-property: background-color !important;
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  background: rgba(0,0,0,0.05);
}

.ui.list>.item:hover {
  background-color: rgba(26, 83, 92, 0.3);
}

.ui.list .list>.item .description, .ui.list>.item .description {
  color: #f7fff7;
}

.ui.modal>.content {
  background: #f7fff7;
}
